<div class="fondo" >

  <div >





      <!-- <div class="text-center"> -->
        <div style="margin-left: 20px; margin-top: 20px;">
        <h6 style="font-weight: 900; color:black; font-size: 30px!important; ">{{data?.titulo}}</h6>
        <h6 style="width: 70%;">{{data?.subtitulo}}</h6>
        
      </div>

        <!-- <div class="text-right" style="margin-top:-15px">
          <div style="float:left;">
          <mat-icon style=" margin-left:4px; color:brown" (click)="scrollCenter()">vertical_align_center</mat-icon>
        </div>
          <mat-icon *ngIf="loader" (click)="loader=false" (click)="agregarPublicacion()" style="color:brown; cursor:pointer; font-size:30px;margin-right: 10px;" >save</mat-icon>

          <img *ngIf="!loader" src="../../../assets/loader.gif" width="40px" alt="" style="margin-top:-22px">

      <mat-icon  (click)="this.crudService.cambioPantalla = true" (click)="scrollReset()"  style="font-size:30px; cursor:pointer; color:brown;">close</mat-icon>

  </div> -->
  <hr>
  <button class="btn btn-sm btn-dark" style="margin-left: 20px; margin-bottom: 20px;" (click)="agregarPublicacion()">Guardar</button>
  <button class="btn btn-sm btn-dark" style="margin-left: 10px; margin-bottom: 20px;" (click)="back()">Volver</button>

  <div  class="document-editor" style="z-index: -1111111;" >
    <div class="document-editor__toolbar"></div>
    <div class="document-editor__editable-container">

          <div class="document-editor__editable" [innerHTML]="this.data.articulo|sanitizer"  >                         
            
          </div>

    </div>
    
</div>



  </div>



  </div>


<!-- Modal -->

